main *{
	border: 1px solid black;
}
main {
  font-size: 0;
  padding: 0px;
  margin-left: auto;
  margin-right: auto;
  width: 800px;
  height: 500px;
}
.green {
  width: 50%;
  height: 200px;
  background-color: green;
}
.blue {
  width: 50%;
  height: 200px;
  background-color: blue;
}
.gray {
  width: 33.33%;
  height: 300px;
  background-color: gray;
}
.black {
  width: 33.33%;
  height: 300px;
  background-color: black;
}
.goldenrod {
  width: 33.33%;
  height: 300px;
  background-color: goldenrod;
}
.inner{
	display: inline-block;
	font-size: 0;
}
/* this is a test for tracking purposes